{% for paleta in paletas %}
{% extends "padre.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Palas</title>

    <!-- Cargar el archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h1>Lista de Palas</h1>

    <!-- Comienza la lista de palas -->
    {% for paleta in paletas %}
    <div>
        <h2>{{ paleta.title }}</h2>
        <p>{{ paleta.description }}</p>
        <p><strong>Precio:</strong> {{ paleta.price }} EUR</p>
        <p><strong>Condición:</strong> {{ paleta.get_condition_display }}</p>
        <img src="{{ paleta.image.url }}" alt="{{ paleta.title }}">

        <!-- Enlace para ver más detalles de la paleta -->
        <a href="{% url 'detalle_paleta' pk=paleta.pk %}">Ver detalles</a>
    </div>
    {% endfor %}
    

    <!-- Puedes incluir un archivo JavaScript si lo tienes -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

 return render(request, 'tienda_padel/lista_paletas.html', {'paletas': paletas})
{% endfor %}
{% block content %}
{% endblock %}