{% extends "padre.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h2 class="mb-4 text-primary">Editar Paleta</h2>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">Guardar cambios</button>
                <a href="{% url 'detalle-paleta' paleta.pk %}" class="btn btn-secondary ms-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}